* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
     background: white;
     font-family: Poppins,sans-serif;
}
header {
    background: #f7ecd8;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: initial;
}
.logo {
    font-size: 28px;
    font-family: Great Vibes,cursive;
}
.logo span {
    font-size: 18px;
}
nav a {
    margin-left: 25px;
    color: #3a2a20;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero {
    height: 380px;
    background: url('image.JS/banders.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    text-align: center;
    color: white;
    text-shadow: 0 2px 5px black;
}
.hero-text h2 {
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 600;
}
.hero-text p {
    margin-top: 10px;
    font-size: 20px;
    font-family: initial;
}
.menu-titles {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    text-align: center;
}
.menu-titles h3 {
    font-size: 24px;
    font-family: Great Vibes,cursive;
}
.menu-titles p {
    margin-top: 5px;
    font-size: 13px;
    color: #6a4a2f;
    font-family: initial;
}
.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    justify-items: center;
    margin: 20px auto 10px auto;
    max-width: 1400px;
 }
.product-card {
    text-align: center;

}
 .product-card img.enlarge-img {
    width: 100%;
    max-width: 329px;
    height: 250px;
    border: 3px solid whitesmoke;
    cursor: pointer;
    object-fit: cover;
    background: #fff;
    border-radius: 6px;
    box-sizing: border-box;
}

.heros {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    text-align: center;
    font-size: 24px;
    font-family:initial;
}
 .product-card h4 {
    margin-top: 12px;
    text-align:left;
    color: #3a2a20;
    font-family: initial;
    font-size: 20px;
 }
.order-btn {
    padding: 5px 10px;
    cursor: pointer;
}
.footer {
  background: #d88c69; 
  padding: 60px 0;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  width: 22%;
  min-width: 200px;
  margin-bottom: 25px;
  font-family: initial;
  font-size: 18px;
}

.footer-col h2,
.footer-col h3 {
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-btn {
  padding: 10px 20px;
  background: #e7d8c9;
  color: #3b2c25;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.footer-btn:hover {
  opacity: 0.9;
}
.footer-text {
    font-family: Great Vibes,cursive;
}

